{% extends 'base.html' %}

{% block content %}
    <div style="display: grid; grid-gap: 50px; margin: 50px; margin-top: 50px; flex-direction: column;">
        {{ post.username }}
        {% if session['username'] != None %}
            <a href="{{ url_for('like', pk=post.id) }}">
                <img src="data:image/png;base64,{{post.photo}}" width="300px" height="200px">
            </a>
        {% else %}
            <img src="data:image/png;base64,{{post.photo}}" width="300px" height="200px">
        {% endif %}
        {{ post.description }}
        {{ post.published_date }}
        <div class="post-details">
            <p>Comentários:</p>
            {% for comment in comments %}
                <p>{{comment.username}} - {{ comment.created_date }}</p>
                <p>{{comment.content}}</p>
            {% endfor %}
        </div>
        {% if session['username'][0] == post.username %}
            <a href="{{ url_for('delete', pk=post.id) }}">Remover post</a>
        {% endif %}
    </div>
{% endblock %}