<!DOCTYPE html>
<html>

<head>
  <title>Instagram</title>
  <meta charset="utf-8" />

  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
</head>

<body style="text-align: center">
  <h1 style="margin: auto; font-family: 'Billabong'";>Instagram</h1>
  <br>
  <a href="{{ url_for('sign_up') }}"> <button type="button" class="btn btn-outline-primary">Sign Up</button> </a>
  <a href="{{ url_for('login') }}"> <button type="button" class="btn btn-outline-primary">Log In</button> </a>

  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>